In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
df_arm = pd.read_csv('ARM_perf_s-1.csv', header=None)
df_fix = pd.read_csv('FIX_perf_s-2.csv',  header=None)

df_discount_factors = pd.read_csv('Discount_Factors.csv')
df_caplet_vols = pd.read_csv('Caplet_Vols.csv')
df_mthly_10_yr_libor = pd.read_csv('Monthly_10_Year_LIBOR.csv')

In [18]:
start_date = '07/01/09' # except for LIBOR rates
cap_rate = 0.0325
short_rate = 0.0116

In [19]:
df_arm.head()

        0  1        2        3        4        5  6  7  8
0  772583  1  0.53662  0.73255  0.84677  0.99621  0  0  0
1  772583  2  0.51414  0.71704  0.84268  0.99543  0  0  0
2  772583  3  0.50438  0.71020  0.83953  0.99465  0  0  0
3  772583  4  0.49397  0.70283  0.83648  0.99387  0  0  0
4  772583  5  0.48388  0.69561  0.83356  0.99308  1  0  0

In [20]:
df_fix.head()

        0  1       2       3        4        5  6  7  8
0  772626  1  4.1311  2.0325  0.99863  0.99863  0  0  0
1  772626  2  3.8598  1.9646  0.99422  0.99828  0  0  0
2  772626  3  3.6143  1.9011  0.99093  0.99793  0  0  0
3  772626  4  3.2819  1.8116  0.98775  0.99757  0  0  0
4  772626  5  3.1549  1.7762  0.98473  0.99721  1  0  0